@import "tailwindcss";
@plugin "daisyui";


#profile-image-hero {
    -webkit-mask-image: linear-gradient(black 70%, transparent 100%);
    mask-image: linear-gradient(black 70%, transparent 100%);
}

:root {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

.dark {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse var(--duration, 30s) linear infinite;
}